:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-blue: hsl(229, 23%, 23%);
    --dark-gray-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}
body {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 18px;
    font-family: "Kumbh Sans", sans-serif;
    background-color: var(--dark-gray-blue);
}
.pattern-top {
    position: absolute;
    top: -550px;
    left: -700px;
}.pattern-bottom {
    position: absolute;
    bottom: -550px;
    right: -700px;
}
@media only screen and (min-width: 600px) {
    .pattern-top {
        position: absolute;
        top: -700px;
        left: -400px;
    }.pattern-bottom {
        position: absolute;
        bottom: -700px;
        right: -400px;
    }
}
@media only screen and (min-width: 1000px) {
    .pattern-top {
        position: absolute;
        top: -600px;
        left: -300px;
    }.pattern-bottom {
        position: absolute;
        bottom: -600px;
        right: -300px;
    }
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    margin: 0 auto;
    width: 375px;
    border-radius: 1rem;
    color: var(--dark-blue);
    background-color: white;
    z-index: 999;
}
.img1 {
    width: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.section2 {
    text-align: center;
}
.section2-text {
    margin-top: -3.5rem;
    padding-bottom: 1rem;
}
.section2-text p {
    margin-top: -.6rem;
    color: var(--dark-cyan);
}
span {
    color: var(--dark-cyan);
    font-weight: 400;
}
h2 {
    font-size: 1.4rem;
}
.section2 img {
    position: relative;
    top: -3.5rem;
    border-radius: 50%;
    border: .4rem solid white;
}
.section3 {
    display: flex;
    border-top: 1px solid var(--dark-gray);
}
h3 {
    font-weight: 700;
    margin-bottom: -1rem;
}
.sec p {
    color: var(--dark-gray);
    font-size: .9rem;
    padding: .4rem 0;
}
.sec {
    width: 33%;
    text-align: center;
}